/* 全体のスタイルを指定する */
body{
    background-color: #444;
    box-sizing: border-box;
    text-align: center;
}
/* レイアウトを指定する */
#gallery{
    margin: auto;
    padding-top: 40px;
    width: 500px;
}
/* 写真に枠をつける */
#gallery .main img {
    border: 4px solid #fff;
    box-shadow:0px 0px  14px #000;
    width:100%;
}
/* キャプションを目立たせる */
#gallery .main p{
    color: #bbb;
    font-size:20px;
    font-weight:bold;
}
/* 画像を小さく丸くする */
#gallery .thumb img{
    border-radius: 400px;
    border:4px solid #fff;
    box-shadow: 0px 0px 10px #000;
    height:60px;
    margin:10px;
    width:60px;
}

h1 ,h3{
    font-size: 100px;
    line-height:0 ;
    color:#ffffff;
    font-family: 'Bitter',serif;
    margin-top: 200px;
}
#index{
    background-image: url(../img/31.jpg);
    background-size: cover;
}
.btn a{
    background-color: #009cd3;
    color: #ffffff;
    font-size:20px;
    font-family: 'Bitter',serif;
    /* width:300px; */
    /* display: block; */
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
}
.btn a:hover{
    text-decoration: none;
    background-color:#ffffff ;
    color:#009cd3;
}
.btn{
    margin:0 auto;
}